
.event-slider{
	width: 100%; 
	position: relative;
	display: flex;
	
}

.slider-image{
	width: 70%;
	max-height: auto;
	margin: 2%;
	opacity: 1;
	display: flex;
	justify-content: end;
	transition: all 0.5s;
}

.slider-image-inactive{
	display: none;
}


.slider-image > img{
	border-radius: 10px;
	width: 100%;
	box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.9);
}

.slider-toggler{
	display: flex;
	flex-direction: column;
}

.image-button {
	margin: 18px 0 0 18px;
	border: 3px solid #999;
	display: flex;
	cursor: pointer;
	transition: all 0.5s;
	opacity: 0.6;
}

.active{
	border-color: #666;
	opacity: 1;
	transform: scale(1.1);
}

